#aboutChangingText > span::before {
    content: "";
    color: #f4bd4f;
    animation: profile 4s infinite;
}
@keyframes profile {
    0% {
        content: "ASHOT";
    }
    50% {
        content: "ԱՇՈՏ";
    }
    100% {
        content: "АШОТ";
    }
}
